@import 'tailwindcss';

body {
  @apply text-gray-600;
}

.book-detail {
  max-width: 1200px;
  margin: 0 auto;
}

.card-design {
  @apply bg-white rounded-lg shadow-md p-6;
}

.menubar-hover:hover {
  @apply !text-indigo-600 !bg-gray-200;
}
